# The side with the PS2 Mouse / TP has to be the central half

if SHIELD_THINK_CORNEY_RIGHT

config ZMK_KEYBOARD_NAME
	default "ThinkCorney"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_MOUSE
    bool "Enable ZMK mouse emulation"
    default y

config ZMK_MOUSE_TICK_DURATION
    default 1

endif



if SHIELD_THINK_CORNEY_LEFT || SHIELD_THINK_CORNEY_RIGHT

config ZMK_SPLIT
	default y

endif




if ZMK_MOUSE

choice ZMK_MOUSE_WORK_QUEUE
    prompt "Work queue selection for mouse events"
    default ZMK_MOUSE_WORK_QUEUE_DEDICATED

config ZMK_MOUSE_WORK_QUEUE_SYSTEM
    bool "Use default system work queue for mouse events"

config ZMK_MOUSE_WORK_QUEUE_DEDICATED
    bool "Use dedicated work queue for mouse events"

endchoice

if ZMK_MOUSE_WORK_QUEUE_DEDICATED

config ZMK_MOUSE_DEDICATED_THREAD_STACK_SIZE
    int "Stack size for dedicated mouse thread/queue"
    default 2048

config ZMK_MOUSE_DEDICATED_THREAD_PRIORITY
    int "Thread priority for dedicated mouse thread/queue"
    default 1

endif # ZMK_MOUSE_WORK_QUEUE_DEDICATED

endif