# The side with the PS2 Mouse / TP has to be the central half

if SHIELD_THINK_CORNEY_RIGHT

config ZMK_KEYBOARD_NAME
	default "ThinkCorney"

config ZMK_SPLIT_ROLE_CENTRAL
	default y

config ZMK_MOUSE
    bool "Enable ZMK mouse emulation"
    default y
	
config ZMK_MOUSE_TICK_DURATION
    int "Mouse tick duration in ms"
    default 1

endif



if SHIELD_THINK_CORNEY_LEFT || SHIELD_THINK_CORNEY_RIGHT

config ZMK_SPLIT
	default y

endif
 