/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

// Define layer numbers
#define BASE 0
#define NAV_WORD 1
#define NUM_WORD 2
#define SYM_WORD 4
#define NAV 5
#define NUM 1
#define SYM 7
#define FUNC 8
#define ADJUST 2
#define LOWER 10
#define MOUSE_KEYS 11
#define MOUSE_TP 3
#define SET 4


// ZMK includes
#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>
// #include <dt-bindings/zmk/rgb.h>
// #include <dt-bindings/zmk/ext_power.h>


// Personal includes
#ifdef HAS_MOUSE_KEYS
     #include "includes/mouse_keys.dtsi"
#endif

#ifdef HAS_MOUSE_TP
     #include "includes/mouse_tp.dtsi"
#endif

#include "includes/custom_keycodes.dtsi"
#include "includes/settings.dtsi"
//#include "includes/settings_pd.dtsi"
#include "includes/conditional_layers.dtsi"
#include "includes/macros.dtsi"
#include "includes/combos.dtsi"
#include "includes/behaviours_homerow_mods.dtsi"
#include "includes/behaviours_mod_morph.dtsi"
#include "includes/behaviours_other.dtsi"


/ {
    keymap {
        compatible = "zmk,keymap";

        Base_layer {
            bindings = <
//╭───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────╮                                                       ╭───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────╮
    AS(GRAVE)               AS(N1)                  AS(N2)                  AS(N3)                  AS(N4)                  AS(N5)                                                                          AS(N6)                  AS(N7)                  AS(N8)                  AS(N9)                  AS(N0)                  AS(MINUS)
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &kp TAB                 &kp Q                   &kp W                   &kp E                   &kp R                   &kp T                                                                           &kp Y                   &kp U                   &kp I                   &kp O                   &kp P                   AS(BACKSLASH)
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &kp CAPSLOCK            &kp A                   &hm_l LALT S            &hm_l LCTRL D           &hm_shift_l LSHFT F     &hm_l LGUI G                                                                    &hm_l LGUI H            &hm_shift_r RSHFT J     &hm_r RCTRL K           &hm_r RALT L            AS(SEMICOLON)           AS(SQT)
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &kp LSHFT               &kp Z                   &kp X                   &kp C                   &kp V                   &kp B                                                                           &kp N                   &kp M                   AS(COMMA)               AS(DOT)                 AS(FSLH)                AS(EQUAL)
//╰───────────────────────┴───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┴───────────────────────╯                                                       ╰───────────────────────┴───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┴───────────────────────╯
                                                    &kp ESC                 AS(PSCRN)                                                                                                                                                                       AS(LBKT)                AS(RBRC)
//                                                ╰───────────────────────┴───────────────────────┼───────────────────────┬───────────────────────┬───────────────────────╮       ╭───────────────────────┬───────────────────────┬───────────────────────┼───────────────────────┴───────────────────────╯
                                                                                                    &mm_bspc_del_layer      &mkp LCLK               &mo NUM                         &lt SYM ENTER           &mkp MCLK               &lt NUM SPACE 
//                                                                                                ├───────────────────────┼───────────────────────┼───────────────────────╯       ╰───────────────────────┼───────────────────────┼───────────────────────┤
                                                                                                    &kp ESC                 &mo MOUSE_TP                                                                    &kp TAB                 &mkp RCLK
//                                                                                                ╰───────────────────────┴───────────────────────╯                                                       ╰───────────────────────┴───────────────────────╯
            >;
        };

        Num_layer {
            bindings = <
//╭───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────╮                                                       ╭───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────╮
    &trans                  &trans                  &kp F10                 &kp F11                 &kp F12                 &trans                                                                          &trans                  &trans                  &kp SLASH               &kp STAR                &kp MINUS               &trans
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &kp F7                  &kp F8                  &kp F9                  &trans                                                                          &trans                  &kp N7                  &kp N8                  &kp N9                  &kp PLUS                &trans
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &kp F4                  &kp F5                  &kp F6                  &trans                                                                          &trans                  &kp N4                  &kp N5                  &kp N6                  &kp EQUAL               &trans
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &kp F1                  &kp F2                  &kp F3                  &trans                                                                          &trans                  &kp N1                  &kp N2                  &kp N3                  &kp SPACE               &trans
//╰───────────────────────┴───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┴───────────────────────╯                                                       ╰───────────────────────┴───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┴───────────────────────╯
                                                    &kp ESC                 &kp DEL                                                                                                                                                                         &kp N0                  &kp DOT
//                                                ╰───────────────────────┴───────────────────────┼───────────────────────┬───────────────────────┬───────────────────────╮       ╭───────────────────────┬───────────────────────┬───────────────────────┼───────────────────────┴───────────────────────╯
                                                                                                    &trans                  &trans                  &trans                          &trans                  &trans                  &trans                
//                                                                                                ├───────────────────────┼───────────────────────┼───────────────────────╯       ╰───────────────────────┼───────────────────────┼───────────────────────┤
                                                                                                    &trans                  &trans                                                                          &trans                  &trans                   
//                                                                                                ╰───────────────────────┴───────────────────────╯                                                       ╰───────────────────────┴───────────────────────╯
            >;
        };

        Adjust_layer {
            bindings = <
//╭───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────╮                                                       ╭───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────╮
    &trans                  &trans                  &trans                  &trans                  &trans                  &trans                                                                          &trans                  &trans                  &trans                  &trans                  &trans                  &trans
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &trans                  &trans                  &trans                  &trans                                                                          &trans                  &kp LC(LEFT)            &kp UP                  &kp LC(RIGHT)           &trans                  &trans
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &kp C_MUTE              &kp C_VOL_DN            &kp C_VOL_UP            &trans                                                                          &trans                  &kp LEFT                &kp DOWN                &kp RIGHT               &trans                  &trans
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &kp C_PLAY_PAUSE        &kp C_PREV              &kp C_NEXT              &trans                                                                          &trans                  &kp PG_UP               &kp HOME                &kp PG_DN               &trans                  &trans
//╰───────────────────────┴───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┴───────────────────────╯                                                       ╰───────────────────────┴───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┴───────────────────────╯
                                                    &kp C_BRI_DEC           &kp C_BRI_INC                                                                                                                                                                   &kp END                 &trans
//                                                ╰───────────────────────┴───────────────────────┼───────────────────────┬───────────────────────┬───────────────────────╮       ╭───────────────────────┬───────────────────────┬───────────────────────┼───────────────────────┴───────────────────────╯
                                                                                                    &trans                  &trans                  &trans                          &trans                  &trans                  &trans                
//                                                                                                ├───────────────────────┼───────────────────────┼───────────────────────╯       ╰───────────────────────┼───────────────────────┼───────────────────────┤
                                                                                                    &trans                  &trans                                                                          &trans                  &trans                   
//                                                                                                ╰───────────────────────┴───────────────────────╯                                                       ╰───────────────────────┴───────────────────────╯
            >;
        };
        
#ifdef HAS_MOUSE_TP
        MouseTP_layer {
            bindings = <
//╭───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────╮                                                       ╭───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────╮
    &trans                  &trans                  &trans                  &trans                  &trans                  &trans                                                                          &trans                  &trans                  &trans                  &trans                  &trans                  &trans
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &trans                  &trans                  &trans                  &trans                                                                          &trans                  &trans                  &trans                  &trans                  &trans                  &trans
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &trans                  &trans                  &trans                  &trans                                                                          &trans                  &trans                  &trans                  &trans                  &trans                  &trans
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &trans                  &trans                  &trans                  &trans                                                                          &trans                  &trans                  &trans                  &trans                  &trans                  &trans
//╰───────────────────────┴───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┴───────────────────────╯                                                       ╰───────────────────────┴───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┴───────────────────────╯
                                                    &trans                  &trans                                                                                                                                                                          &trans                  &trans
//                                                ╰───────────────────────┴───────────────────────┼───────────────────────┬───────────────────────┬───────────────────────╮       ╭───────────────────────┬───────────────────────┬───────────────────────┼───────────────────────┴───────────────────────╯
                                                                                                    &trans                  &trans                  &trans                          &mkp LCLK               &mkp MCLK               &mkp RCLK 
//                                                                                                ├───────────────────────┼───────────────────────┼───────────────────────╯       ╰───────────────────────┼───────────────────────┼───────────────────────┤
                                                                                                    &trans                  &tog SET                                                                        &trans                  &trans             
//                                                                                                ╰───────────────────────┴───────────────────────╯                                                       ╰───────────────────────┴───────────────────────╯
            >;
        };

        Settings_layer {
            bindings = <
//╭───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────╮                                                       ╭───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────┬───────────────────────╮
    &bt BT_CLR              &bt BT_SEL 0            &bt BT_SEL 1            &bt BT_SEL 2            &bt BT_SEL 3            &bt BT_SEL 4                                                                    &trans                  &trans                  &trans                  &trans                  &trans                  U_MSS_RESET
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &trans                  U_MSS_TP_S_D            U_MSS_TP_S_I            U_MSS_TP_PT_I                                                                   &trans                  &trans                  &trans                  &trans                  &trans                  U_MSS_LOG
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &trans                  U_MSS_TP_NI_D           U_MSS_TP_NI_I           U_MSS_TP_PT_D                                                                   &trans                  &trans                  &trans                  &trans                  &trans                  &trans
//├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤                                                       ├───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┤
    &trans                  &trans                  &trans                  U_MSS_TP_V6_D           U_MSS_TP_V6_I           &trans                                                                          &trans                  &trans                  &trans                  &trans                  &trans                  &trans
//╰───────────────────────┴───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┴───────────────────────╯                                                       ╰───────────────────────┴───────────────────────┼───────────────────────┼───────────────────────┼───────────────────────┴───────────────────────╯
                                                    &bt BT_PRV              &bt BT_NXT                                                                                                                                                                      &trans                  &trans
//                                                ╰───────────────────────┴───────────────────────┼───────────────────────┬───────────────────────┬───────────────────────╮       ╭───────────────────────┬───────────────────────┬───────────────────────┼───────────────────────┴───────────────────────╯
                                                                                                    &trans                  &trans                  &trans                          &trans                  &trans                  &trans 
//                                                                                                ├───────────────────────┼───────────────────────┼───────────────────────╯       ╰───────────────────────┼───────────────────────┼───────────────────────┤
                                                                                                    &trans                  &tog SET                                                                        &trans                  &trans
//                                                                                                ╰───────────────────────┴───────────────────────╯                                                       ╰───────────────────────┴───────────────────────╯
            >;
        };
#endif
    };
};

